<!DOCTYPE html>
<html lang="fr">
<head>
{% load staticfiles %}
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<script src="http://code.jquery.com/jquery-1.12.1.min.js" integrity="sha256-I1nTg78tSrZev3kjvfdM5A5Ak/blglGzlaZANLPDl3I=" crossorigin="anonymous"></script>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
	<link rel="stylesheet" type="text/css" href="{% static 'main/style.css' %} " />
	<title>Wouf'éduc</title>
</head>
<body style="background-color: #808080; height: 100%">
	<div class="container" style="background-color: #A9A9A9; ">
		{% load django_markdown %}
		{% include "main/header.html" %}
		{% block body %}
		{% endblock body %}
		{% include "main/footer.html" %}
	</div>
</body>
</html>
