{% extends "main/base.html" %}
{% block body %}
{% load django_markdown %}
{% for Service in obj %}
<div class="col-xs-12">
  <div class="col-xs-6">
    <p>{{ Service.left|markdown }}</p>
  </div>
  <div class="col-xs-6">
    <img class="img-rounded" src= {{ Service.file1.url }} style="max-width: 100%; display: block; margin-left: auto; margin-right: auto">
  </div>
</div>
<div class="col-xs-12" style="margin-top: 20px">
  <div class="col-xs-6">
    <img class="img-rounded" src= {{ Service.file2.url }} style="max-width: 100%; display: block; margin-left: auto; margin-right: auto">
  </div>
  <div class="col-xs-6">
    <p>{{ Service.right|markdown }}</p>
  </div>
</div>
{% endfor %}
{% endblock body %}
