{% extends "main/base.html" %}
{% load django_markdown %}
{% block body %}
<div class="col-xs-12">
  <h1 style="text-align: center;">Gallery</h1>
</div>
<div class="col-xs-12">
{% for Gallery in obj %}
	<div class="col-xs-4" style="border: solid black">
			<img class="img-rounded" src= {{ Gallery.file.url }} style="max-width: 100%; display: block; margin-left: auto; margin-right: auto; margin-top: 20px">
			<p style=" word-wrap: break-word;">{{ Gallery.text|markdown }}</p>
	</div>
{% endfor %}
</div>
{% endblock body %}
