<header class="row" style="margin-bottom: 20px">
	<div class="col-xs-6" style="text-align: center; vertical-align: middle;">
		<p>Contactez moi pour prendre rendez vous :</p>
		<a href="tel:0662066394">06-62-06-63-94</a>
	</div>
	<div class="col-xs-6" style="text-align: center;">
		<h1>Wouf' Educ</h1>
		<h2 style="font-size: 20px">Education Canine Paris et IDF</h2>
	</div>
<div class="col-xs-12">
<nav class="navbar-top">
		<ul class="nav nav-pills nav-justified">
			<li class="{% ifequal request.path "/" %}active {% endifequal %}">
				<a href="/">Presentation</a>
			</li>
			<li role="presentation" class="dropup">
    			<a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
     			Services <span class="caret"></span>
    			</a>
				<ul class="dropdown-menu {% ifequal request.path "service" %}active {% endifequal %}" aria-labelledby="dropdownMenu1">
					<li class="{% ifequal request.path "education" %}active {% endifequal %}">
						<a href="education.html">Education canine</a>
					</li>
					<li class="{% ifequal request.path "reeducation" %}active {% endifequal %}">
						<a href="reeducation.html">Reeducation  comportementale</a>
					</li>
					<li class="{% ifequal request.path "promenades" %}active {% endifequal %}">
						<a href="promenades.html">Promenades</a>
					</li>
				</ul>
			</li>
			<li class="{% ifequal request.path "/tarifs.html" %}active {% endifequal %}">
				<a href="tarifs.html">Tarifs</a>
			</li>
			<li class="{% ifequal request.path "" %}active {% endifequal %}">
				<a href="temoignages.html">Temoignages</a>
			</li>
			<li class="{% ifequal request.path "" %}active {% endifequal %}">
				<a href="gallery.html">Gallery</a>
			</li>
			<li class="{% ifequal request.path "" %}active {% endifequal %}">
				<a href="partenaires.html">Partenaires</a>
			</li>
			<li class="{% ifequal request.path "" %}active {% endifequal %}">
				<a href="contact.html">Contact</a>
			</li>
		</ul>
</nav>
</div>
</header>
