<header>
	<div>
	<p class="col-lg-6">
		Wouf'Educ
	</p>
	<p class="col-lg-6">
		Contactez moi pour prendre rendez vous :<br>06-62-06-63-94
	</p>
	</div>
	<nav >
		<ul class="nav nav-pills nav-justified">
			<li role="presentation" class="active"><a href="acceuil.html">Accueil</a></li>
			<li role="presentation"><a href="presentation.htnl">Qui suis-je?</a></li>
			<li role="presentation"><a href="education.html">Education</a></li>
			<li role="presentation"><a href="tarifs.html">Tarifs</a></li>
			<li role="presentation"><a href="contact.html">Contact</a></li>
		</ul>
	</nav>
</header>