<header class="row" style="margin-bottom: 20px; background-color: white">
<div style="height: 150px">
	<div class="col-xs-6" style="text-align: center; margin-top: 10px">
		<h1>Wouf' Educ</h1>
		<h2 style="font-size: 20px">Education Canine Paris et IDF</h2>
	</div>
	<div class="col-xs-6" style="text-align: center; margin-top: 45px">
		<p>Contactez moi pour prendre rendez vous :</p>
		<a href="tel:0662066394">06-62-06-63-94</a>
	</div>
</div>
<div class="col-xs-12" style="background-color: rgb(232, 90, 64)">
<nav class="navbar-top">
		<ul class="nav nav-pills nav-justified">
			<li class="{% ifequal request.path "/" %}active {% endifequal %}">
				<a href="/">Presentation</a>
			</li>
			<li role="presentation">
    			<a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
     			Services <span class="caret"></span>
    			</a>
				<ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
					<li>
						<a href="education.html">Education canine</a>
					</li>
					<li >
						<a href="reeducation.html">Reeducation  comportementale</a>
					</li>
					<li>
						<a href="promenades.html">Promenades</a>
					</li>
				</ul>
			</li>
			<li class="{% ifequal request.path "/tarifs.html" %}active {% endifequal %}">
				<a href="tarifs.html">Tarifs</a>
			</li>
			<li class="{% ifequal request.path "/temoignages.html" %}active {% endifequal %}">
				<a href="temoignages.html">Temoignages</a>
			</li>
			<li class="{% ifequal request.path "/gallery.html" %}active {% endifequal %}">
				<a href="gallery.html">Gallerie</a>
			</li>
			<li class="{% ifequal request.path "/partenaires.html" %}active {% endifequal %}">
				<a href="partenaires.html">Partenaires</a>
			</li>
			<li class="{% ifequal request.path "/contact.html" %}active {% endifequal %}">
				<a href="contact.html">Contact</a>
			</li>
		</ul>
</nav>
</div>
</header>
