{% extends "main/base.html" %}
{% block body %}
{% load django_markdown %}
<div class="col-xs-12">
  <h1 style="text-align: center;">Nos partenaires</h1>
</div>
{% for partenaire in obj %}
<div class="col-xs-2" style="border: solid black">
	<p style="text-align: center;">{{ partenaire.nom|markdown }} </p>
	<a href= {{ partenaire.lien }}>
		<img src= {{ partenaire.file.url }} style="max-width: 100%; display: block; margin-left: auto; margin-right: auto">
	</a>
</div>
{% endfor %}
{% endblock body %}
