{% extends "main/base.html" %}

{% block body %}
{% for Presentation in obj %}
<div class="col-xs-12">
	<div class="col-xs-6">
		<p>{{ Presentation.left }}</p>
	</div>
	<div class="col-xs-6">
		<img class="img-rounded" src= {{ Presentation.file1.url }} style="max-width: 80%"><br><br>
	</div>
</div>
<div class="col-xs-12">
	<div class="col-xs-6">
		<img class="img-rounded" src= {{ Presentation.file2.url }} style="max-width: 80%"><br><br>
	</div>
	<div class="col-xs-6">
		<p>{{ Presentation.right }}</p>
	</div>
</div>
{% endfor %}
{% endblock body %}