{% extends "main/base.html" %}
{% block body %}
<div class="row" style="margin-bottom: 20px">
{% load bootstrap3 %}
	<div class="col-lg-offset-3 col-lg-6">
		<form method="post" class="form" enctype="multipart/form-data">
			{% csrf_token %}
			{% bootstrap_form form  %}
			{% buttons %}
				<button type="submit" class="btn btn-primary" />
							{% bootstrap_icon "ok" %} Submit
				</button>
			{% endbuttons %}
		</form>
	</div>
	<div class="col-xs-12">
		<h2 style="text-align: center;">Retrouver les temoignages de nos clients</h2>
		{% for Temoignage in obj %}
			<div class="col-sm-6 col-md-4" style="height: 100%">
				<div class="thumbnail">
					{% if Temoignage.file %}
						<img src={{ Temoignage.file.url }} class="img-responsive">
					{% endif %}
					<div class="caption">
						<h3>{{ Temoignage.titre }}</h3>
						<p style=" word-wrap: break-word;" >{{ Temoignage.nom }}</p>
						<p style=" word-wrap: break-word;" >{{ Temoignage.commentaire }}</p>
					</div>
				</div>
			</div>
		{% endfor %}
	</div>
</div>
{% endblock body %}
