{% extends "main/base.html" %}
{% block body %}
<div class="col-lg-offset-4 col-xs-6">
	<form method="post">
		{% csrf_token %}
		{{ form.as_p }}
	<input type="submit" value="Submit" />
	</form>
</div>
<div class="col-xs-12">
<h2 style="text-align: center;">Retrouver les temoignages de nos clients</h1>
{% for Temoignage in obj %}
	<div class="col-xs-4" style="height: 100%">
			<h4 style="text-align: center;">{{ Temoignage.titre }}</h4>
			<p style=" word-wrap: break-word;" >{{ Temoignage.nom }}</p>
			<p style=" word-wrap: break-word;" >{{ Temoignage.comment }}</p>
			{% if Temoignage.file %}
				<img src={{ Temoignage.file.url }} style="max-width: 100%; display: block; margin-left: auto; margin-right: auto">
			{% endif %}
	</div>
{% endfor %}
</div>
{% endblock body %}
