{% extends "main/base.html" %}
{% block body %}
<div class="col-xs-12">
	<form method="post">
		{% csrf_token %}
		{{ form.as_p }}
	<input type="submit" value="Submit" />
	</form>
</div>
<h1>Retrouver les temoignages de nos clients</h1>
{% for Temoignage in obj %}
	<div class="col-xs-4" style="border: solid black; height: 100%; overflow: scroll;">
			<h4>{{ Temoignage.titre }}</h4>
			<p style=" word-wrap: break-word;" >{{ Temoignage.nom }}</p>
			<p style=" word-wrap: break-word;" >{{ Temoignage.comment }}</p>
			<img src= {{ Temoignage.file.url }} style="max-width: 100%;">
	</div>
{% endfor %}
{% endblock body %}