
p{
    font-size: 15px;
}

body {
  font-family: Times New Roman, Time, serif;
}

.btn-primary{
    background-color: #77B5FE;
    border-color:  #DFF2FF;
}

.nav-pills>li.active>a, .nav-pills>li.active>a:focus, .nav-pills>li.active>a:hover{
    background-color: #DFF2FF;
    color: black;
}

a {
    color: #000000;
}

.thumbnail{
    background-color: #DFF2FF;
    border: 1px solid #77B5FE;
}

h4{
    color: red;
    font-style: bold
}

h2{
    color: red;
    font-style: bold
}
